.table {
  background: var(--Base-White, #fff);
}

.thead {
  background: var(--Gray-50, #f9fafb) !important;
  border-bottom: 1px solid var(--Gray-200, #eaecf0) !important;
  padding: 12px 24px !important;
}
.th {
  &:first-child {
    display: flex;
    gap: 12px;
  }
  padding: 12px 24px;
  color: var(--Gray-600, #475467);
  font-weight: 600;

  /* Text xs/Medium */
  font-size: 12px;
  line-height: 18px; /* 150% */
}
.td {
  &:first-child {
    color: var(--Gray-900, #101828);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
  color: var(--Gray-600, #475467);

  /* Text sm/Regular */

  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  padding: 16px 24px;
}
.tfoot {
  height: 68px;
  display: flex;
  justify-items: center;
  width: 100%;
  align-items: center;
  text-align: center;
  border-top: 1px solid var(--Gray-200, #eaecf0);
  padding: 24px;
}
